---
---

// - - - - - - - - - - Foundations

@import "_reset";
@import "_mixins";
@import "_plugins";



// - - - - - - - - - - Variables


// Colors

$color-background: #ffffff;
$color-background-alt: #f4f5f6;
$color-border: #f7d7b6;

$color-code-block-background: #212121;
$color-code-block-text-default: #fff;

$color-text-dark: #2A2F36;
$color-text-light: #ABB7B7;
$color-text-headline: $color-text-dark;
$color-text-body: #6C7A89;
$color-text-link: $color-text-dark;

$color-accent: #2196F3;
$color-error: #d64541;


// Fonts

// _data/settings.yml has `font_settings.font_embed`
$body-font: 'Fira Sans', sans-serif;
$title-font: 'Fira Sans', sans-serif;
$code-block-font: 'Fira Code', monospace;

$regular-weight: 400;
$bold-weight: 600;


// Typography

$sitetitle-small: 27px;
$sitetitle-medium: 32px;
$sitetitle-large: 40px;
$sitetitle-weight: $bold-weight;
$sitetitle-spacing: 0em;

$sitetagline-small: 16px;
$sitetagline-medium: 18px;
$sitetagline-large: 20px;
$sitetagline-weight: $regular-weight;
$sitetagline-spacing: 0em;
$sitetagline-lineheight: 1.5;

$menu-small: 16px;
$menu-medium: 18px;
$menu-large: 20px;
$menu-weight: $bold-weight;
$menu-spacing: 0em;

$h1-small: 27px;
$h1-medium: 38px;
$h1-large: 50px;
$h1-weight: $bold-weight;
$h1-spacing: -0.02em;
$h1-lineheight: 1.2;

$h2-small: 27px;
$h2-medium: 38px;
$h2-large: 50px;
$h2-weight: $bold-weight;
$h2-spacing: -0.02em;
$h2-lineheight: 1.2;

$h3-small: 22px;
$h3-medium: 25px;
$h3-large: 30px;
$h3-weight: $bold-weight;
$h3-spacing: -0.02em;
$h3-lineheight: 1.3;

$h4-small: 17px;
$h4-medium: 22px;
$h4-large: 22px;
$h4-weight: $bold-weight;
$h4-spacing: 0em;
$h4-lineheight: 1.6;

$h5-small: 17px;
$h5-medium: 20px;
$h5-large: 20px;
$h5-weight: $bold-weight;
$h5-spacing: 0em;
$h5-lineheight: 1.6;

$h6-small: 17px;
$h6-medium: 20px;
$h6-large: 20px;
$h6-weight: $bold-weight;
$h6-spacing: 0em;
$h6-lineheight: 1.6;

$p-small: 17px;
$p-medium: 19px;
$p-large: 22px;
$p-weight: $regular-weight;
$p-spacing: 0em;
$p-lineheight: 1.6;

$blockquote-small: 25px;
$blockquote-medium: 35px;
$blockquote-large: 45px;
$blockquote-weight: 300;
$blockquote-spacing: -0.02em;
$blockquote-lineheight: 1.6;

$button-weight: $bold-weight;
$button-spacing: 0em;


// Logo
$logo-width: 200px;


// Grid item
$grid-spacing: 10px;



// - - - - - - - - - - Global styles

@import "_basic";

@import "_includes/_header";
@import "_includes/_footer";

@import "_includes/_content";
@import "_includes/_socials";
@import "_includes/_gallery";
@import "_includes/_syntax";



// - - - - - - - - - - Section styles

@import "_includes/_listing";


