---
---

// - - - - - - - - - - Foundations

@import "_reset";
@import "_mixins";
@import "_plugins";



// - - - - - - - - - - Variables


// Colors

$background-color: #ffffff;
$background-alt-color: #f4f5f6;
$border-color: #f7d7b6;

$code-block-background-color: #212121;
$code-block-default-text-color: #fff;

$dark-text-color: #2A2F36;
$light-text-color: #ABB7B7;
$headline-text-color: $dark-text-color;
$body-text-color: #6C7A89;
$link-text-color: $dark-text-color;

$accent-color: #2196F3;
$error-color: #d64541;


// Fonts

// _data/settings.yml has `font_settings.font_embed`
$body-font: 'Fira Sans', sans-serif;
$title-font: 'Fira Sans', sans-serif;
$code-font: 'Fira Code', monospace;

$code-inline-weight: 300;
$regular-weight: 400;
$bold-weight: 600;


// Typography

$sitetitle-small: 27px;
$sitetitle-medium: 32px;
$sitetitle-large: 40px;
$sitetitle-weight: $bold-weight;
$sitetitle-spacing: 0em;

$sitetagline-small: 16px;
$sitetagline-medium: 18px;
$sitetagline-large: 20px;
$sitetagline-weight: $regular-weight;
$sitetagline-spacing: 0em;
$sitetagline-lineheight: 1.5;

$menu-small: 16px;
$menu-medium: 18px;
$menu-large: 20px;
$menu-weight: $bold-weight;
$menu-spacing: 0em;

$h1-small: 27px;
$h1-medium: 38px;
$h1-large: 50px;
$h1-weight: $bold-weight;
$h1-spacing: -0.02em;
$h1-lineheight: 1.2;

$h2-small: 22px;
$h2-medium: 25px;
$h2-large: 30px;
$h2-weight: $bold-weight;
$h2-spacing: -0.02em;
$h2-lineheight: 1.3;

$h3-small: 17px;
$h3-medium: 22px;
$h3-large: 22px;
$h3-weight: $bold-weight;
$h3-spacing: 0em;
$h3-lineheight: 1.6;

$h4-small: 17px;
$h4-medium: 20px;
$h4-large: 20px;
$h4-weight: $bold-weight;
$h4-spacing: 0em;
$h4-lineheight: 1.6;

// h5 and h6 are too small. h4 == h5 == h6
$h5-small: $h4-small;
$h5-medium: $h4-medium;
$h5-large: $h4-large;
$h5-weight: $h4-weight;
$h5-spacing: $h4-spacing;
$h5-lineheight: $h4-lineheight;
$h6-small: $h4-small;
$h6-medium: $h4-medium;
$h6-large: $h4-large;
$h6-weight: $h4-weight;
$h6-spacing: $h4-spacing;
$h6-lineheight: $h4-lineheight;

$p-small: 17px;
$p-medium: 19px;
$p-large: 22px;
$p-weight: $regular-weight;
$p-spacing: 0em;
$p-lineheight: 1.6;

$code-inline-small: 16px;
$code-inline-medium: 18px;
$code-inline-large: 21px;

$blockquote-small: 25px;
$blockquote-medium: 35px;
$blockquote-large: 45px;
$blockquote-weight: 300;
$blockquote-spacing: -0.02em;
$blockquote-lineheight: 1.6;

$button-weight: $bold-weight;
$button-spacing: 0em;


// Logo
$logo-width: 200px;


// Grid item
$grid-spacing: 10px;



// - - - - - - - - - - Global styles

@import "_basic";

@import "_includes/_header";
@import "_includes/_footer";

@import "_includes/_content";
@import "_includes/_socials";
@import "_includes/_gallery";
@import "_includes/_syntax";



// - - - - - - - - - - Section styles

@import "_includes/_listing";


